{% load static %}

<head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{% static 'subida/dropzone/dropzone.js' "></script>

    <link rel="stylesheet" type="text/css" href="{% static 'subida/estilo.css' %}">
</head>

<body>

<div class="card bg-dark">
<div class="card-header text-white text-center">Antiguo</div>
    <div class="card-body text-white">
            <div class="row">
                <div class="col-12 bg-warning">
                    <img class="blah" width="100px">
                </div>
                <div class="col bg-danger">
                     {% for tmp in productos %}

                          <img class="img{{ forloop.counter }}" src="{{tmp.imagenRedimencionada.thumbnail.url}}" onclick="imagen({{ forloop.counter }})">

                     {% endfor %}

                </div>
            <div>
    </div>
</div>

        <script>

           var anterior = 0
            imagen(1);


           function imagen(numero){

                if (anterior == 0)
                {
                var tmpNumero = ".img"+numero;
                $(tmpNumero).css("border-style","solid");
                $(".blah").attr("src",$(tmpNumero).attr('src'));
                anterior = numero;
                }else{
                var tmpNumero = ".img"+numero;
                var anter = ".img"+anterior;
                $(anter).css("border-style","");
                $(tmpNumero).css("border-style","solid");
                $(".blah").attr("src",$(tmpNumero).attr('src'));
                anterior = numero;
                }
           }

        </script>

        {% comment "fff" %}
<div class="card">
    <div class="card-header">Antiguo2</div>
    <div class="card-body">
        {% if productos %}
            {% for tmp in productos %}
            <p>{{tmp.titulo}}</p>
            <p> {{tmp.descripcion}}</p>

        <img src="{{tmp.imagenRedimencionada.thumbnail.url}}">
        <img src="{{tmp.imagen.url}}">
        <h2>Descargas</h2>
        <a href="{% url 'Subida:descarga' tmp.pk%}">Descarga</a>

        <video src="{{tmp.imagen.url}}" autoplay poster="{{tmp.imagenRedimencionada.thumbnail.url}}">
          Tu navegador no admite el elemento <code>video</code>.
        </video>

        {% endfor %}
        {% else %}
        <p>no hay</p>
        {% endif %}

    </div>
</div>


        {% endcomment %}






</body>